.header {
  padding: 2rem;
  color: white;
  background: rgba(1, 80, 31, 0.8);
}
.header__up {
  background-color: white;
  border-radius: 55px;
  padding: 4px;
  color: green;
}
.header h1 {
  font-size: 30px;
}
.btn-recommendation {
  color: white;
  border: none;
  font-size: 20px;
}
.btn-register {
  color: white;
  border: none;
  font-size: 20px;
}
.btn:hover {
  color: rgb(255, 255, 255);
  transform: scale(1.2);
  border: 1px solid white;
}
.btn:focus,
.btn:active {
  outline: none !important;
  box-shadow: none;
}
