.header {
  display: flex;
  justify-content: space-between;
  padding: 2rem;
}
.header__up {
  border-radius: 55px;
  padding: 4px;
  color: green;
  background-color: white;
}
.header__link {
  text-decoration: none;
  color: white;
}
.header__link:hover {
  color: white;
}
.header h1 {
  font-size: 40px;
}
.btn-header {
  color: white;
  font-size: 20px !important;
  margin-right: 20px;
  transition: all 0.4s ease-out;
}
.btn:hover {
  color: white;
  transform: scale(1.2);
}

.btn:focus,
.btn:active {
  outline: none !important;
  box-shadow: none;
}
.header__link-text {
  font-size: 15px;
}
.header__icon {
  font-size: 30px !important;
}
